* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.full {
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
  padding: 3rem 2rem;
}
.testimonials {
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 1.5rem;
}
.testimonial1 {
  background: hsl(263, 55%, 52%);
  position: relative;
}
.testimonial2 {
  background-color: hsl(217, 19%, 35%);
}
.testimonial3 {
  background-color: white;
}
.testimonial4 {
  background-color: hsl(219, 29%, 14%);
}
.testimonial5 {
  background-color: white;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 13rem;
}
.profile.profile1 {
  padding-right: 15rem;
}
.profile.profile4 {
  padding-right: 14rem;
}
.profile.profile5 {
  padding-right: 16rem;
}
.dp1 {
  background: url(./images/image-daniel.jpg);
}
.dp2 {
  background: url(./images/image-jonathan.jpg);
}
.dp3 {
  background: url(./images/image-jeanette.jpg);
}
.dp4 {
  background: url(./images/image-patrick.jpg);
}
.dp5 {
  background: url(./images/image-kira.jpg);
}

.dps {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
}
.name.name5 h1 {
  color: hsl(219, 29%, 14%);
}
.name h1 {
  color: white;
  font-weight: 500;
}
.name p {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
}
.testimonial1 img {
  position: absolute;
  top: 0;
  right: 2rem;
}
.heading {
  margin: 2rem 0rem;
  color: white;
  position: relative;
  z-index: 10;
  font-weight: 600;
  text-align: left;
  font-size: 2rem;
}
.comment {
  color: hsl(0, 0%, 81%);
  font-weight: 500;
  font-size: 1.5rem;
}
.heading5 {
  color: hsl(219, 29%, 14%);
}
.comment5 {
  color: rgb(72, 85, 106);
}
